---
import Avatar from '@/components/shared/react/avatar'
import { themeConfig } from '@/config'
import Date from '../shared/date.astro'

const { className, pubDate, readingTime } = Astro.props
---

<div class:list={['flex items-center gap-3', className]}>
  <Avatar
    alt={themeConfig.site.author.name}
    src={themeConfig.site.author.avatarUrl ?? '/'}
    fallback={themeConfig.site.author.name.slice(0, 1).toUpperCase()}
    client:only="react"
  />
  <div class="flex justify-center flex-col">
    <p class="text-sm !mb-0 !mt-0 text-foreground">{themeConfig.site.author.name}</p>
    {
      themeConfig.site.author.role ? (
        <span class="text-xs !mb-0 !mt-0 text-muted-foreground">
          {themeConfig.site.author.role}
        </span>
      ) : (
        <div class="text-sm opacity-60">
          <Date date={pubDate} context="post" />
          {readingTime && (
            <span class="text-foreground">
              <span class="text-muted-foreground">·</span>
              {readingTime.minutes} mins
            </span>
          )}
        </div>
      )
    }
  </div>
</div>
